<h1>Hello, <%= @user.username%>.</h1>
<% if @posts.nil? %>
  <p>You haven't created any posts.</p>
<% else %>
  <h2>Here are all your posts.</h2>
  <% @posts.each do |post|%>
    <div><%= post.title%>
        <%= link_to "Edit", edit_post_path(post)%>
    </div>
  <% end %>
<% end %>

<%= link_to "Create a new post", new_post_path %>
