<h1>Welcome to Alina's Blog</h1>
<% @posts.each do |post| %>
  <div><%= link_to post.title, post_path(post) %> written by : <%= link_to post.user.username, profile_path(post.user) %></div>
<% end %>

